.notify {
  width: 20%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: fixed;
  z-index: 10;
  top: 10px;
  right: 10px;
  transition: all 0.3s;
}
