<div class="contact_container">
  <div class="footer_container">
    <p class="contact">Contact</p>
    <form
      class="form_container"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
    >
      <input
        [(ngModel)]="contactForm.name"
        class="mp_input"
        type="text"
        placeholder="Your name"
        required
        name="name"
        #name="ngModel"
      />
      <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
        <div *ngIf="name.errors.required">* Name is required</div>
      </div>
      <input
        class="mp_input"
        type="text"
        placeholder="Your email"
        name="email"
        email
        required
        #email="ngModel"
        [(ngModel)]="contactForm.email"
      />
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors.required">* Email is required</div>
        <div *ngIf="email.errors.email">* Please enter a valid email</div>
      </div>
      <textarea
        class="mp_input"
        name="issue"
        placeholder="Describe your issue"
        required
        [(ngModel)]="contactForm.issue"
        #issue="ngModel"
      ></textarea>
      <div *ngIf="f.submitted && issue.invalid" class="invalid-feedback">
        <div *ngIf="issue.errors.required">* Issue is required</div>
      </div>
      <button class="mp_button_med mg_top_sm">Submit</button>
    </form>
  </div>
</div>
