.footer_container {
  display: flex;
  flex-direction: column;
  padding: 0px 30%;
}

.contact_container {
  background-color: #272727;
  padding: 30px;
  margin-top: 30px;
}

.form_container {
  display: flex;
  flex-direction: column;
}
