.navbar_container {
  display: flex;
}

.navbar_container:hover {
  cursor: pointer;
}

.nav_container {
  width: 100%;
  background-color: #fff;
  height: 10vh;
  position: fixed;
  top: 0px;
  padding: 10px 0px;
  left: 0px;
  z-index: 2;
}
