<p class="intro_text">
  Generate Polygon boundaries of your own. Start by clicking on anywhere on the
  map.
</p>
<agm-map
  (mapClick)="pointerClicked($event)"
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  [streetViewControl]="styles.streetViewControl"
  (keyup.control.z)="popLastElement()"
  (keyup.control.y)="restoreLastElement()"
>
  <agm-marker
    *ngIf="currentPointer"
    [latitude]="currentPointer.lat"
    [longitude]="currentPointer.lng"
  ></agm-marker>
  <agm-polyline
    [strokeColor]="styles.strokeColor"
    [strokeOpacity]="styles.strokeOpacity"
    [strokeWeight]="styles.strokeWeight"
    *ngIf="polyLinePoints.length > 1"
  >
    <agm-polyline-point
      *ngFor="let point of polyLinePoints"
      [latitude]="point.lat"
      [longitude]="point.lng"
    ></agm-polyline-point>
  </agm-polyline>
  <agm-polygon
    *ngIf="polygonPoints.length > 0"
    [strokeColor]="styles.strokeColor"
    [strokeOpacity]="styles.strokeOpacity"
    [strokeWeight]="styles.strokeWeight"
    [fillColor]="styles.fillColor"
    [fillOpacity]="styles.fillOpacity"
    [paths]="polygonPoints"
  >
  </agm-polygon>
</agm-map>

<div class="button_container">
  <div>
    <button class="mp_button" type="button" (click)="popLastElement()">
      <fa-icon class="icon" [icon]="faUndo"></fa-icon>Undo
    </button>
    <button class="mp_button" type="button" (click)="restoreLastElement()">
      <fa-icon class="icon" [icon]="faRedo"></fa-icon>Redo
    </button>
  </div>
  <div>
    <select class="mp_select" [(ngModel)]="selectedOutputType">
      <option value="{{ output.value }}" *ngFor="let output of outputType">{{
        output.description
      }}</option>
    </select>
    <select class="mp_select" [(ngModel)]="selectedOutputFormat">
      <option value="{{ output.value }}" *ngFor="let output of outputFormat">{{
        output.description
      }}</option>
    </select>
  </div>
  <button class="mp_button" type="button" (click)="generateCordinates()">
    <fa-icon class="icon" [icon]="faSave"></fa-icon>Generate
  </button>
</div>
