<div class="intro_component">
  <p class="intro_text">
    Generate custom geo cordinates boundaries by selecting markers on the map
    and save them.
  </p>
  <p class="intro_text">
    Visualise a set of polygon coordinates on map as a polygon or markers
  </p>
  <div class="button_container">
    <button class="mp_button_lg" (click)="redirect('generate')" type="submit">
      Generate Coordinates
    </button>
    <button class="mp_button_lg" (click)="redirect('visualise')" type="submit">
      Visualize on Map
    </button>
  </div>
</div>
