<div>
  <div class="map_container" *ngIf="polygonLines.length > 0">
    <agm-map
      #AgmMap
      [latitude]="latitude"
      [longitude]="longitude"
      [zoom]="zoom"
      [streetViewControl]="styles.streetViewControl"
      (mapReady)="mapReady($event)"
      [fitBounds]="bounds"
    >
      <ng-container *ngIf="selectedOutputMap === 'MARKER'">
        <agm-marker
          *ngFor="let currentPointer of polygonLines"
          [latitude]="currentPointer.lat"
          [longitude]="currentPointer.lng"
        ></agm-marker>
      </ng-container>
      <agm-polyline
        [strokeColor]="styles.strokeColor"
        [strokeOpacity]="styles.strokeOpacity"
        [strokeWeight]="styles.strokeWeight"
        *ngIf="selectedOutputMap === 'POLYLINE'"
      >
        <agm-polyline-point
          *ngFor="let point of polygonLines"
          [latitude]="point.lat"
          [longitude]="point.lng"
        ></agm-polyline-point>
      </agm-polyline>
      <agm-polygon
        *ngIf="selectedOutputMap === 'POLYGON'"
        [strokeColor]="styles.strokeColor"
        [strokeOpacity]="styles.strokeOpacity"
        [strokeWeight]="styles.strokeWeight"
        [fillColor]="styles.fillColor"
        [fillOpacity]="styles.fillOpacity"
        [paths]="polygonLines"
      >
      </agm-polygon>
    </agm-map>
  </div>
  <div class="visual_container">
    <p class="info_text">Paste your location coordinates</p>
    <textarea [(ngModel)]="map_input" class="mp_input mp_text"></textarea>
    <div class="button_container">
      <select class="mp_select" [(ngModel)]="selectedOutputFormat">
        <option
          *ngFor="let output of outputFormat"
          value="{{ output.value }}"
          >{{ output.description }}</option
        >
      </select>
      <select class="mp_select" [(ngModel)]="selectedOutputMap">
        <option *ngFor="let output of outputMap" value="{{ output.value }}">{{
          output.description
        }}</option>
      </select>
      <button (click)="submitData()" class="mp_button_med" type="button">
        Submit
      </button>
    </div>
  </div>
</div>
