$base-color: #00bc66;
$text-color: #3c3b37;

body {
  margin: 0px;
  padding: 0px;
  font-family: "Oxygen", sans-serif;
  color: $text-color;
}

agm-map {
  height: 60vh;
}

.logo {
  height: 10vh;
}

.title {
  font-size: 30px;
  color: $base-color;
  font-weight: bold;
  padding: 0px 20px;
  line-height: 10vh;
}

.mp_select {
  padding: 8px;
  margin: 0px 5px;
  background-color: #fff;
}
.mp_button {
  outline: none;
  border: 0.5px solid;
  background-color: #fff;
  padding: 8px;
  margin: 0px 5px;
}

.mp_button:hover {
  background-color: $base-color;
  color: white;
  cursor: pointer;
}

.icon {
  margin-right: 8px;
}

.intro_text {
  text-align: center;
  font-size: 24px;
  padding: 10px 15%;
  font-weight: lighter;
  color: grey;
  letter-spacing: 2px;
  margin: 0px;
}

.mp_button_lg {
  outline: none;
  border: 0.5px solid $base-color;
  background-color: $base-color;
  padding: 18px;
  margin: 0px 5px;
  font-size: 16px;
  color: white;
}

.mp_button_med {
  outline: none;
  border: 0.5px solid $base-color;
  background-color: $base-color;
  padding: 13px;
  margin: 0px;
  font-size: 16px;
  color: white;
}

.mp_input {
  padding: 5px;
  margin: 10px 0px;
  font-family: "Oxygen", sans-serif;
}
.mp_text {
  width: 100%;
  height: 30vh;
}
.container {
  margin-top: calc(10vh + 20px);
}

.contact {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
}

.mg_top_sm {
  margin-top: 10px;
}

.invalid-feedback {
  color: #f44336;
}
